<head>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.5/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">

</head>

<h1>Employee List</h1>

<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-outline-primary" asp-action="Mainview">Create New</a>
</p>
<div class="table-responsive">
    <table class="table" id="Employee_Table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Time</th>
                <th>Manager Name</th>
                <th>Joining Date</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts {
    <!-- SweetAlert2 for alerts -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- DataTables script -->
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>

    <!-- Your custom JS -->
    <script type="text/javascript" src="~/Jqery/Employee.js"></script>
}
